*{
  padding: 0%;
  margin: 0%;
}

body{
  
  font-family: sans-serif;
  line-height: 1.6em;
}

p{
  line-height: 1.6em;
  font-weight: 900;
}


.Site-name{

   background-color: #fa163f;
   margin: auto;
   height: 80px;
   font-size: 20px;
   text-align: center;
   padding: 50px;
}

.Site-name h1{
 
  position: relative;
  top: 50px;
 
}

.Site-name img{

  position: relative;
  right: 300px;
  bottom: 40px;
  border-radius: 50%;
  
}



.Menu-Container{
  text-align: center;
  background-color: #414141;
}

.Menu-Container ul{

  display: inline-flex;
  list-style: none;
  
}

.Menu-Container  li{
  width: 130px;
  margin: 15px;
  padding: 15px;
}

.Menu-Container a{
  text-decoration: none;
  color: white;
}

.Menu-Container li:hover{

  background-color:#ffd615;
  border-radius: 4px;
}

.Site-description{

  width: 80%;
  margin: 100px;
  padding: 50px;
  color:black;
  
  
}

.Site-description h2{
  text-align: center;
  margin: 20px;
  font-size: 50px;
}






