*{
  padding: 0%;
  margin: 0%;
}

body{
  font-family: sans-serif;
  line-height: 1.6em;
  width: auto;
  background-color: #fcfcfc;
}

p{
  line-height: 1.6em;
  font-weight: 900;
}


.Site-name{

   background-color: #fa163f;
   margin: auto;
   height: auto;
   font-size: 20px;
   text-align: center;
   padding-top: 4vw;
   padding-bottom: 4vw;
   width: auto;
   
}

.Site-name h1{
 
  position: relative;
  top: 1vw;
  width: auto;
  line-height: 1.4em;
 
}





.Menu-Container{
  text-align: center;
  background-color: #414141;
  width: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.Menu-Container ul{

  display: inline-flex;
  list-style: none;
  
  
}

.Menu-Container  li{
  margin: auto;
  padding: auto;
  width: auto;
  height: auto;
}

.Menu-Container a{
  text-decoration: none;
  color: white;
  padding: 1.3vw;
}

.Menu-Container li:hover{

  background-color:#ffd615;
  border-radius: 1vw;
}

.Site-description{

  width: auto;
  margin: auto;
  padding: 50px;
  color:black;
  
  
}

.Site-description h2{
  text-align: center;
  margin: 20px;
  font-size: 50px;
}


 




